In [27]:
import pandas as pd, psycopg2 as psql

In [28]:
conn = psql.connect("dbname=pshannon user=pshannon")

In [29]:
coi = "chrom, motifstart, motifname, normalizedscore, strand"

In [31]:
query = "select %s  from footprints where chrom='chr22' and motifstart < 10510285" % coi

In [32]:
tbl = pd.read_sql_query(query,  conn)

In [33]:
tbl

   chrom  motifstart motifname  normalizedscore strand
0  chr22    10510185  MA0151.1         0.811947      +
1  chr22    10510200  MA0158.1         0.258267      +
2  chr22    10510282  MA0494.1         0.496226      -
3  chr22    10510277  MA0740.1         0.349608      -